<div class="rate-page">
  <div class="top-section">
    <div>
      <span class="match-badge">
        {{ match?.type }}
      </span>

      <h1>
        {{ match?.teamA }}

        VS

        {{ match?.teamB }}
      </h1>

      <p>Califica el rendimiento de los jugadores ⚽</p>
    </div>

    <button
      class="send-btn"
      (click)="sendRatings()"
      [disabled]="!canSendRatings()"
    >
      Enviar Calificaciones
    </button>
  </div>

  <div class="players-grid">
    @for (player of players; track player.playerId) {
      @if (player.playerId !== currentPlayerDocument && !player.alreadyRated) {
        <div class="player-card">
          <div class="player-header">
            <div class="player-info">
              <img [src]="player.photo" />

              <div>
                <h3>
                  {{ player.name }}
                </h3>

                <span>
                  {{ player.position }}
                </span>
              </div>
            </div>

            <div
              class="rating-badge"
              [ngClass]="{
                elite: player.newRating >= 4,
                good: player.newRating >= 3 && player.newRating < 4,
                average: player.newRating < 3,
              }"
            >
              {{ player.newRating || "-" }}
            </div>
          </div>

          <div class="slider-section">
            <input
              type="range"
              min="1"
              max="5"
              step="0.1"
              [(ngModel)]="player.newRating"
              class="custom-slider"
              (change)="player.wasRated = true"
            />

            <div class="slider-labels">
              <span>1</span>

              <span>5</span>
            </div>
          </div>
          <div class="tags-section">
            <span
              class="tag"
              [class.active]="player.isMvp"
              (click)="player.isMvp = !player.isMvp; player.wasRated = true"
            >
              🔥 MVP
            </span>
          </div>
          <textarea
            rows="4"
            [(ngModel)]="player.comment"
            #commentRef="ngModel"
            placeholder="
                  Comentario anónimo...
              "
            minlength="5"
            (ngModelChange)="validateComment(player)"
          >
          </textarea>

          @if (player.invalidComment) {
            <small class="comment-error">
              Escribe un comentario válido ⚠️
            </small>
          }
        </div>
      }
    }
  </div>
</div>
