<form class="rate-page" [formGroup]="playersForm">
  <div class="top-section">
    <div>
      <span class="match-badge">
        {{ match?.type }}
      </span>

      <h1>
        {{ match?.teamA }}

        VS

        {{ match?.teamB }}
      </h1>

      <p>Califica el rendimiento de los jugadores ⚽</p>
    </div>

    <button
      type="button"
      class="send-btn"
      (click)="sendRatings()"
      [disabled]="!canSendRatings()"
    >
      Enviar Calificaciones
    </button>
  </div>
  @if (currenPlayerRole === "captain") {
    <div class="mvp-alert">
      <i class="bi bi-trophy-fill"></i>
      <div>
        <strong> Solo puede haber un MVP por partido </strong>

        <p>Selecciona cuidadosamente al jugador más determinante ⚽🔥</p>
      </div>
    </div>
  } @else {
    <div class="captain-alert">
      <i class="bi bi-shield-fill-check"></i>

      <div>
        <strong> El MVP solo puede ser asignado por capitanes </strong>

        <p>
          Los jugadores únicamente pueden calificar rendimiento y comentarios ⚽
        </p>
      </div>
    </div>
  }
  <div class="players-grid" formArrayName="players">
    @for (player of playersControls; track $index; let i = $index) {
      <div class="player-card" [formGroupName]="i">
        <div class="player-header">
          <div class="player-info">
            <img [src]="player.get('photo')?.value" />

            <div>
              <h3>
                {{ player.get("name")?.value }}
              </h3>

              <span>
                {{ player.get("position")?.value }}
              </span>
            </div>
          </div>

          <div
            class="rating-badge"
            [ngClass]="{
              elite: player.get('rating')?.value >= 4,

              good:
                player.get('rating')?.value >= 3 &&
                player.get('rating')?.value < 4,

              average: player.get('rating')?.value < 3,
            }"
          >
            {{ player.get("rating")?.value || "-" }}
          </div>
        </div>

        <div class="slider-section">
          <input
            type="range"
            min="1"
            max="5"
            step="0.1"
            class="custom-slider"
            formControlName="rating"
          />

          <div class="slider-labels">
            <span>1</span>

            <span>5</span>
          </div>

          @if (player.get("rating")?.touched && player.get("rating")?.invalid) {
            <small class="comment-error">
              Debes asignar una calificación ⚠️
            </small>
          }
        </div>
        @if ((authService.currentUser | async)?.role === "captain") {
          @if (!match.mvpPlayerId) {
            <div class="tags-section">
              <span
                class="tag"
                [class.active]="player.get('isMvp')?.value"
                (click)="toggleMvp(i)"
              >
                🔥 MVP
              </span>
            </div>
          }
        }

        <textarea
          rows="4"
          formControlName="comment"
          placeholder="
            Comentario anónimo...
          "
          (input)="sanitizeComment($event)"
        >
        </textarea>

        @if (player.get("comment")?.touched && player.get("comment")?.invalid) {
          <small class="comment-error">
            @if (player.get("comment")?.hasError("required")) {
              El comentario es obligatorio ⚠️
            }

            @if (player.get("comment")?.hasError("minlength")) {
              El comentario debe tener mínimo 10 caracteres ⚠️
            }

            @if (player.get("comment")?.hasError("pattern")) {
              El comentario solo puede contener letras, comas y puntos ⚠️
            }
          </small>
        }
      </div>
    }
  </div>
</form>
