<div class="match-detail-page">
    <div class="top-section">
        <div>
            <span class="badge-title">
                FUT RANK AI
            </span>
            <h1>
                {{ match?.teamA }}
                <span>
                    vs
                </span>
                {{ match?.teamB }}
            </h1>
        </div>
        <button class="finish-btn" (click)="finishMatch()" [disabled]="match?.finished">
            @if(match?.finished){

            🔒 Partido Finalizado

            } @else {
            ✅ Finalizar Partido

            }
        </button>
    </div>

    <div class="score-board">
        <div>
            <h2>
                {{ match?.teamA }}
            </h2>

            <strong>
                {{ match?.scoreA }}
            </strong>

        </div>

        <span>
            VS
        </span>

        <div>

            <h2>
                {{ match?.teamB }}
            </h2>

            <div class="enemy-score-wrapper">

                <button class="enemy-btn" (click)="decreaseEnemyScore()">

                    <i class="bi bi-dash-lg"></i>

                </button>

                <div class="enemy-score">

                    {{ match?.scoreB }}

                </div>

                <button class="enemy-btn" (click)="increaseEnemyScore()">

                    <i class="bi bi-plus-lg"></i>

                </button>

            </div>

        </div>

    </div>

    <!-- PLAYERS -->

    <div class="players-grid">

        @for(player of match?.players; track player.playerId){

        <div class="player-card">

            <!-- MVP -->

            <div class="mvp-badge" [class.active]="player.isMvp" (click)="setMvp(player)">

                🏆 MVP

            </div>

            <!-- IMAGE -->

            <img [src]="player.photo">

            <!-- INFO -->

            <h3>
                {{ player.name }}
            </h3>

            <span>
                {{ player.position }}
            </span>

            <!-- TEAM -->

            <div class="team-badge">

                Equipo
                {{ player.team }}

            </div>

            <!-- STATS -->

            <div class="stats-section">

                <!-- GOALS -->

                <div class="stat-card">

                    <label>
                        ⚽ Goles
                    </label>

                    <div class="controls">

                        <button (click)="decreaseGoals(player)">

                            -

                        </button>

                        <strong>
                            {{ player.goals }}
                        </strong>

                        <button (click)="increaseGoals(player)">

                            +

                        </button>

                    </div>

                </div>

                <!-- ASSISTS -->

                <div class="stat-card">

                    <label>
                        🎯 Assists
                    </label>

                    <div class="controls">

                        <button (click)="decreaseAssists(player)">

                            -

                        </button>

                        <strong>
                            {{ player.assists }}
                        </strong>

                        <button (click)="increaseAssists(player)">

                            +

                        </button>

                    </div>

                </div>

                <!-- RATING -->

                <div class="stat-card">

                    <label>
                        ⭐ Rating
                    </label>

                    <div class="controls">

                        <button (click)="decreaseRating(player)">

                            -

                        </button>

                        <strong>
                            {{ player.rating }}
                        </strong>

                        <button (click)="increaseRating(player)">

                            +

                        </button>

                    </div>

                </div>

            </div>

        </div>

        }

    </div>

</div>