<div class="layout-container">
  <aside class="sidebar" [class.open]="sidebarOpen">
    <div class="logo-section">
      <div class="logo-circle">⚽</div>

      <div>
        <h2>FUT RANK</h2>

        <span> AI Platform </span>
      </div>
    </div>

    <nav class="menu">
      @for (item of currentMenu; track item.route) {
        <a
          [routerLink]="item.route"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{
            exact: item.route === '/',
          }"
          (click)="closeSidebar()"
        >
          <span class="menu-icon">
            {{ item.icon }}
          </span>

          <span class="menu-label">
            {{ item.label }}
          </span>
        </a>
      }
    </nav>
  </aside>

  <main class="content-area">
    <header class="topbar">
      <button class="menu-btn" type="button" (click)="toggleSidebar()">
        ☰
      </button>

      <div class="team-title">
        <div class="team-icon">⚽</div>

        <div class="team-info">
          <h3>
            {{ teamName.toUpperCase() }}
          </h3>

          <span class="plan-name">
            {{ currentPlan }}
          </span>
        </div>
      </div>

      <div class="profile-section">
        <div class="user-info">
          <img [src]="currentUser?.photoURL || 'https://i.pravatar.cc/100'" />

          <div class="user-text">
            <h4>
              {{ (currentUser?.name || "").toUpperCase() }}
            </h4>

            <span>
              {{ (currentUser?.role || "").toUpperCase() }}
            </span>
          </div>
        </div>

        <button class="logout-btn" type="button" (click)="logout()">
          <i class="bi bi-box-arrow-right"></i>
        </button>

        @if (openTeamSettings) {
          <div class="settings-dropdown">
            <!-- HEADER -->

            <div class="settings-header">
              <h3>⚽ Configuración equipo</h3>

              <p>Personaliza tu equipo.</p>
            </div>
          </div>
        }
      </div>
    </header>

    <div class="router-container">
      @if (subscriptionLoaded) {
        <router-outlet></router-outlet>
      }
    </div>
  </main>
</div>
