<div class="create-match-page">

    <!-- HEADER -->

    <div class="top-section">

        <div>

            <span class="badge-title">
                FUT RANK AI
            </span>

            <h1>
                Crear Partido ⚽
            </h1>

            <p>
                Organiza equipos y selecciona jugadores.
            </p>

        </div>

        <button class="create-btn" (click)="createMatch()">

            Crear Partido

        </button>

    </div>

    <!-- FORM -->

    <form class="form-grid" [formGroup]="matchForm">

        <!-- NAME -->

        <div class="input-card">

            <label>
                Nombre del Partido
            </label>

            <input type="text" placeholder="Ej: Verdes vs Negros" formControlName="name">

        </div>

        <!-- DATE -->

        <div class="input-card">

            <label>
                Fecha
            </label>

            <input type="date" formControlName="date">

        </div>

        <!-- TIME -->

        <div class="input-card">

            <label>
                Hora
            </label>

            <input type="time" formControlName="time">

        </div>

        <!-- FIELD -->

        <div class="input-card">

            <label>
                Cancha
            </label>

            <input type="text" placeholder="Ej: Cancha Praga" formControlName="field">

        </div>

    </form>

    <!-- MATCH TYPE -->

    <section class="formation-section">

        <div class="section-title">
            ⚽ Tipo de Partido
        </div>

        <div class="formations-grid">

            @for(type of matchTypes; track type){

            <div class="formation-card" [class.active]="
                  selectedMatchType === type
                " (click)="selectMatchType(type)">

                {{ type }}

            </div>

            }

        </div>

    </section>

    <!-- PLAYERS -->

    <section class="players-section">

        <div class="players-header">

            <div class="section-title">
                🔥 Seleccionar Jugadores
            </div>

            <span class="selected-count">

                {{
                selectedPlayers.length
                }}

                /

                {{
                selectedMatchType ===
                'FUT 5'
                ? 10
                : 16
                }}

            </span>

        </div>

        <div class="players-grid">

            @for(player of players; track player.id){

            <div class="player-card" [class.selected]="
                    isSelected(player)
                  " (click)="togglePlayer(player)">

                <!-- IMAGE -->

                <img [src]="
                        player.photo
                      ">

                <!-- INFO -->

                <h3>
                    {{ player.name }}
                </h3>

                <span>
                    {{ player.position }}
                </span>

                <!-- RATING -->

                <div class="player-rating">

                    ⭐
                    {{
                    player.averageRating
                    }}

                </div>

            </div>

            }

        </div>

    </section>

</div>