<div class="team-builder-page">
  <!-- TOP -->

  <div class="top-section">
    <div>
      <span class="badge-title"> FUT RANK AI </span>

      <h1>Team Builder IA 🧠⚽</h1>

      <p>Construcción inteligente de titulares {{ teamName }}.</p>
    </div>

    <button class="generate-btn" (click)="generateTeams()">
      @if (isGenerating) {
        🧠 Analizando...
      } @else {
        ⚡ Generar Team Ideal
      }
    </button>
  </div>

  <!-- FORMAT -->

  <div class="format-selector">
    <button
      class="format-btn"
      [class.active]="selectedFormat === 'FUT 5'"
      (click)="selectedFormat = 'FUT 5'"
    >
      FUT 5
    </button>

    <button
      class="format-btn"
      [class.active]="selectedFormat === 'FUT 8'"
      (click)="selectedFormat = 'FUT 8'"
    >
      FUT 8
    </button>
  </div>

  <div class="builder-layout">
    <section class="field-section">
      <div class="field-header">
        <div>
          <h2>🔥 {{ teamName }} Titulares</h2>

          <span> IA automática </span>
        </div>

        <div class="team-rating">
          {{ teamRating }}
        </div>
      </div>

      <div
        class="football-field"
        [class.fut5]="selectedFormat === 'FUT 5'"
        [class.fut8]="selectedFormat === 'FUT 8'"
      >
        @if (isGenerating) {
          <div class="ai-loading">
            <h2>🧠 Analizando rendimiento...</h2>
            <p>Generando alineación táctica</p>
          </div>
        }
        <div class="field-middle-line"></div>
        <div class="field-center-circle"></div>
        <div class="field-center-point"></div>
        <div class="field-top-area"></div>
        <div class="field-bottom-area"></div>
        <div class="field-row forwards">
          @for (player of forwards; track player.id) {
            <div class="field-player">
              <img [src]="player.photo" />

              <span>
                {{ player.name.split(" ")[0] }}
              </span>

              <small>
                {{ player.aiScore }}
              </small>
            </div>
          }
        </div>

        <!-- MIDFIELD -->

        <div class="field-row midfield">
          @for (player of midfielders; track player.id) {
            <div class="field-player">
              <img [src]="player.photo" />

              <span>
                {{ player.name.split(" ")[0] }}
              </span>

              <small>
                {{ player.aiScore }}
              </small>
            </div>
          }
        </div>

        <!-- DEFENSE -->

        <div class="field-row defense">
          @for (player of defenders; track player.id) {
            <div class="field-player">
              <img [src]="player.photo" />

              <span>
                {{ player.name.split(" ")[0] }}
              </span>

              <small>
                {{ player.aiScore }}
              </small>
            </div>
          }
        </div>

        <!-- GOALKEEPER -->

        <div class="field-row goalkeeper">
          @for (player of goalkeeper; track player.id) {
            <div class="field-player">
              <img [src]="player.photo" />

              <span>
                {{ player.name.split(" ")[0] }}
              </span>

              <small>
                {{ player.aiScore }}
              </small>
            </div>
          }
        </div>
      </div>
    </section>

    <!-- SIDEBAR -->

    <aside class="players-sidebar">
      <div class="sidebar-title">🔥 Suplentes</div>

      @for (player of substitutes; track player.id) {
        <div class="player-card">
          <div class="player-left">
            <img [src]="player.photo" />

            <div>
              <h3>
                {{ player.name }}
              </h3>

              <span>
                {{ player.aiBadge }}
              </span>

              <small class="player-insight">
                {{ player.aiInsight }}
              </small>
            </div>
          </div>

          <div class="player-score">
            {{ player.aiScore }}
          </div>
        </div>
      }
    </aside>
  </div>
</div>
