<div class="login-page">
  <div class="overlay"></div>

  <div class="stadium-lights"></div>

  <div class="container-fluid h-100">
    <div class="row h-100 justify-content-center align-items-center">
      <div class="col-11 col-sm-10 col-md-8 col-lg-5 col-xl-4">
        <div class="login-card">
          <div class="text-center">
            <div class="logo-container mb-4">⚽</div>

            <span class="badge-title"> BIENVENIDO A </span>

            <h1 class="main-title">FUT RANK <span>AI</span></h1>

            <p class="subtitle">Analiza. Califica. Mejora.</p>
          </div>

          <div class="features mt-4">
            <div class="feature-box">
              <i class="bi bi-bar-chart"></i>
              <span>Ranking</span>
            </div>

            <div class="feature-box">
              <i class="bi bi-trophy"></i>
              <span>MVP</span>
            </div>

            <div class="feature-box">
              <i class="bi bi-cpu"></i>
              <span>IA</span>
            </div>
          </div>
          @if (!validatedPlayer) {
            <button class="google-btn mt-5" (click)="showDocumentPrompt()">
              <i class="bi bi-shield-lock-fill"></i>

              <span> Acceso al Equipo </span>
            </button>
          } @else {
            <button class="google-btn mt-5" (click)="login()">
              <img
                src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/google/google-original.svg"
                width="22"
              />

              <span> Continuar con Google </span>
            </button>
          }
          <button class="join-team-btn" routerLink="/join-team">
            ⚽ Postularme al equipo
          </button>
          <div class="plans-banner" routerLink="/team-plans">
            <div class="plans-banner-icon">
              <i class="bi bi-stars"></i>
            </div>

            <div class="plans-banner-content">
              <span class="plans-title"> Desbloquea Fut Rank AI Pro </span>

              <span class="plans-subtitle">
                Rankings avanzados, IA y estadísticas premium
              </span>
            </div>

            <i class="bi bi-chevron-right fs-3"></i>
          </div>

          <div class="stats-box mt-3">
            <div class="stat-item">
              <h3>1.248</h3>
              <span>Partidos</span>
            </div>

            <div class="stat-item">
              <h3>312</h3>
              <span>Jugadores</span>
            </div>

            <div class="stat-item">
              <h3>156</h3>
              <span>MVP</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
