<div class="applications-page">
  <div class="top-section">
    <div>
      <div class="page-badge">⚽ FUT RANK AI</div>

      <h1>Postulaciones</h1>

      <p>Gestiona las solicitudes de nuevos jugadores.</p>
    </div>
  </div>

  <div class="applications-grid">
    @for (application of applications$ | async; track application.id) {
      <div class="application-card">
        <!-- TOP -->

        <div class="card-top">
          <div>
            <h3>
              {{ application.name }}
            </h3>

            <span
              class="status-badge"
              [ngClass]="{
                pending: application.status === 'pending',

                rejected: application.status === 'rejected',
              }"
            >
              {{ application.status }}
            </span>
          </div>

          <div class="player-age">{{ application.age }} años</div>
        </div>

        ⚽ {{ application.position }}

        <span class="dot"></span>

        🦶 {{ application.foot }}

        <span class="dot"></span>

        📍 {{ application.city }}

        <span class="dot"></span>

        📱 {{ application.number }}

        <div class="strengths-card">
          <span> FORTALEZAS </span>

          <p>
            {{ application.strengths }}
          </p>
        </div>

        <div class="actions">
          <button class="approve-btn" (click)="approvePlayer(application)">
            ⚽ Aprobar
          </button>

          <button
            [disabled]="application.status === 'rejected'"
            class="reject-btn"
            (click)="changeStatus(application.id!, 'rejected')"
          >
            ✖ Rechazar
          </button>
        </div>
      </div>
    }
  </div>
</div>
