<div class="history-page">
  <!-- TOP -->

  <div class="top-section">
    <div>
      <span class="badge-title"> FUT RANK AI </span>

      <h1>Historial de Partidos ⚽</h1>

      <p>Revive estadísticas, MVPs y análisis IA.</p>
    </div>

    <button class="season-btn">Temporada 2026</button>
  </div>

  <!-- FILTERS -->

  <section class="filters-section">
    <button
      class="filter"
      [class.active]="selectedFilter === 'Todos'"
      (click)="filterMatches('Todos')"
    >
      Todos
    </button>
    @for (item of types; track $index) {
      <button
        class="filter"
        [class.active]="selectedFilter === item"
        (click)="filterMatches(item)"
      >
        {{ item }}
      </button>
    }

    <!-- <button
      class="filter"
      [class.active]="selectedFilter === 'FUT 8'"
      (click)="filterMatches('FUT 8')"
    >
      FUT 8
    </button> -->
  </section>
  @if (filteredMatches.length > 0) {
    <section class="matches-grid">
      @for (match of filteredMatches; track match.id) {
        <div class="match-card">
          <div class="match-header">
            <span class="match-type">
              {{ match.type }}
            </span>

            <span class="match-date">
              {{ match.date }}
            </span>
          </div>

          <div class="scoreboard">
            <div class="team-block">
              <h3>
                {{ match.teamA }}
              </h3>

              <span class="score">
                {{ match.scoreA }}
              </span>
            </div>

            <div class="vs">VS</div>

            <div class="team-block">
              <h3>
                {{ match.teamB }}
              </h3>

              <span class="score">
                {{ match.scoreB }}
              </span>
            </div>
          </div>

          <div class="match-info">
            <div>📍 {{ match.field }}</div>
            <div class="competition-info-badge">
              <i class="bi bi-trophy-fill"></i>

              {{ match.competitionName }}
            </div>
            <div>🕒 {{ match.time }}</div>
          </div>

          <div class="mvp-box">
            <span class="mvp-label"> 🏆 MVP DEL PARTIDO </span>

            <strong>
              {{ match.mvpPlayerName || "Sin MVP" }}
            </strong>
            <strong> </strong>
          </div>

          <div class="timeline">
            <div class="timeline-item">
              <div class="timeline-dot success"></div>

              <span> ⚽ Partido creado </span>
            </div>

            @if (match.finished) {
              <div class="timeline-item">
                <div class="timeline-dot success"></div>

                <span> 🏁 Partido finalizado </span>
              </div>
            }

            @if (match.analyzed) {
              <div class="timeline-item">
                <div class="timeline-dot ai"></div>

                <span> 🤖 Análisis generado </span>
              </div>
            } @else {
              <div class="timeline-item">
                <div class="timeline-dot pending"></div>

                <span> 🤖 Análisis pendiente </span>
              </div>
            }
          </div>

          <button
            class="analysis-btn"
            [disabled]="match.analyzed === true || !match.finished"
            (click)="generateAnalysis(match)"
          >
            <i class="bi bi-stars"></i>

            Generar análisis IA
          </button>
        </div>
      }
    </section>
  }
</div>
