/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap-icons/font/bootstrap-icons.css';

* {
    box-sizing: border-box;
}

body {

    font-family:
        Inter,
        sans-serif;

    -webkit-font-smoothing:
        antialiased;

    -moz-osx-font-smoothing:
        grayscale;

    text-rendering:
        optimizeLegibility;

}

.fut-alert-popup {

    border-radius: 28px;

    border:
        1px solid rgba(57, 255, 20, .25);

    box-shadow:
        0 0 40px rgba(57, 255, 20, .15);

}