<div class="profile-page">
  @if (player) {
    <!-- HERO -->

    <section class="hero-section">
      <div class="hero-left">
        <div class="profile-photo-wrapper">
          <img [src]="player.photo" />

          <button class="edit-photo-btn" (click)="fileInput.click()">
            <i class="bi bi-camera-fill"></i>
          </button>

          <input
            type="file"
            hidden
            accept="image/*"
            #fileInput
            (change)="changePhoto($event)"
          />
        </div>

        <div>
          <span class="position-badge">
            {{ player.position }}
          </span>

          <h1>
            {{ player.name }}
          </h1>

          <p>“El rendimiento habla por ti.”</p>

          <div class="badges">
            @if (player.mvps >= 1) {
              <span> 🏆 MVP </span>
            }

            @if (player.goals >= 5) {
              <span> 🔥 Killer </span>
            }

            @if (player.assists >= 3) {
              <span> 🧠 Playmaker </span>
            }
          </div>
        </div>
      </div>

      <!-- OVERALL -->

      <div class="hero-rating">
        <span> Overall </span>

        <div class="editable-stat">
          <h2>
            {{ player.averageRating }}
          </h2>

          @if ((authService.currentUser | async)?.role === "captain") {
            <button
              class="edit-stat-btn"
              (click)="editStat('averageRating', player.averageRating)"
            >
              <i class="bi bi-pencil-square"></i>
            </button>
          }
        </div>
      </div>
    </section>
    <section class="stats-grid">
      @for (stat of stats; track stat.field) {
        <div class="stat-card">
          <span>
            {{ stat.label }}
          </span>

          <div class="editable-stat">
            <h3>
              {{ player[stat.field] }}
            </h3>

            @if ((authService.currentUser | async)?.role === "captain") {
              <button
                class="edit-stat-btn"
                (click)="editStat(stat.field, player[stat.field])"
              >
                <i class="bi bi-pencil-square"></i>
              </button>
            }
          </div>
        </div>
      }
    </section>

    <section class="attributes-section">
      <div class="section-title">🎮 Player Attributes</div>
      <div class="attribute-item">
        <div class="attribute-header">
          <span> ⚡ Velocidad </span>

          <strong>
            {{ player.speed }}
          </strong>
        </div>

        <input
          [disabled]="(authService.currentUser | async)?.role === 'player'"
          type="range"
          min="0"
          max="100"
          [(ngModel)]="player.speed"
          (change)="updateAttribute()"
        />
      </div>

      <div class="attribute-item">
        <div class="attribute-header">
          <span> 🎯 Definición </span>

          <strong>
            {{ player.finishing }}
          </strong>
        </div>

        <input
          [disabled]="(authService.currentUser | async)?.role === 'player'"
          type="range"
          min="0"
          max="100"
          [(ngModel)]="player.finishing"
          (change)="updateAttribute()"
        />
      </div>

      <!-- VISION -->

      <div class="attribute-item">
        <div class="attribute-header">
          <span> 🧠 Visión </span>

          <strong>
            {{ player.vision }}
          </strong>
        </div>

        <input
          [disabled]="(authService.currentUser | async)?.role === 'player'"
          type="range"
          min="0"
          max="100"
          [(ngModel)]="player.vision"
          (change)="updateAttribute()"
        />
      </div>

      <div class="attribute-item">
        <div class="attribute-header">
          <span> 💪 Resistencia </span>

          <strong>
            {{ player.stamina }}
          </strong>
        </div>

        <input
          [disabled]="(authService.currentUser | async)?.role === 'player'"
          type="range"
          min="0"
          max="100"
          [(ngModel)]="player.stamina"
          (change)="updateAttribute()"
        />
      </div>

      <!-- DEFENSE -->

      <div class="attribute-item">
        <div class="attribute-header">
          <span> 🛡️ Defensa </span>

          <strong>
            {{ player.defense }}
          </strong>
        </div>

        <input
          [disabled]="(authService.currentUser | async)?.role === 'player'"
          type="range"
          min="0"
          max="100"
          [(ngModel)]="player.defense"
          (change)="updateAttribute()"
        />
      </div>

      <div class="attribute-item">
        <div class="attribute-header">
          <span> 🎮 Regate </span>
          <strong>
            {{ player.dribbling }}
          </strong>
        </div>
        <input
          [disabled]="(authService.currentUser | async)?.role === 'player'"
          type="range"
          min="0"
          max="100"
          [(ngModel)]="player.dribbling"
          (change)="updateAttribute()"
        />
      </div>
    </section>

    <section class="ai-card">
      <div class="ai-title">🤖 AI Analysis</div>

      @if (
        aiInsight.strengths.length ||
        aiInsight.weaknesses.length ||
        aiInsight.tips.length
      ) {
        <div class="ai-grid">
          <div class="ai-box strengths">
            <h3>🔥 Fortalezas</h3>

            @for (item of aiInsight.strengths; track $index) {
              <p>⚽ {{ item }}</p>
            }
          </div>

          <div class="ai-box weaknesses">
            <h3>😮‍💨 Debilidades</h3>

            @for (item of aiInsight.weaknesses; track $index) {
              <p>📉 {{ item }}</p>
            }
          </div>
          <div class="ai-box tips">
            <h3>🧠 Consejos</h3>

            @for (item of aiInsight.tips; track $index) {
              <p>🚀 {{ item }}</p>
            }
          </div>
        </div>
      } @else {
        <div class="ai-empty">🤖 Analizando jugador con Fut Rank AI...</div>
      }
    </section>

    <section class="comments-section">
      <div class="section-title">💬 Comentarios del Equipo</div>

      <div class="comments-grid">
        @for (rating of displayedComments; track $index) {
          <div class="comment-card">
            <span> ⭐ </span>

            <p>"{{ rating.comment }}"</p>

            <small> — {{ teamName }} Team </small>
          </div>
        }
      </div>

      @if (ratings.length > visibleComments) {
        <div class="show-more-wrapper">
          <button
            class="show-more-btn"
            (click)="showAllComments = !showAllComments"
          >
            <i class="bi bi-chat-dots-fill"></i>

            {{ showAllComments ? "Ver menos" : "Ver más comentarios" }}
          </button>
        </div>
      }
    </section>
  }
</div>
